<mat-card>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="row ">
                    <div class="col-md-10 offset-md-1">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>
                                        <h2>Employee Name</h2>
                                    </th>
                                    <th>
                                        <h2>Task Title</h2>
                                    </th>
                                    <th>
                                        <h2>Strat Date </h2>
                                    </th>
                                    <th>
                                        <h2> Days For Task </h2>
                                    </th>
                                    <th>
                                        <h2> End Date </h2>
                                    </th>
                                    <th>
                                        <h2> Actions </h2>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of tasks">
                                    <td> {{ task.employeeName }} </td>
                                    <td> {{ task.taskName }} </td>
                                    <td> {{ task.taskStartDate | date }} </td>
                                    <td> {{ task.numberofDays }} </td>
                                    <td> {{ task.taskEndDate | date }} </td>
                                    <td>
                                        <button mat-raised-button color="primary" (click)="updateTask(task.id)">
                                            Edit</button>
                                        <button mat-raised-button color="accent" (click)="deleteTask(task.id)"
                                            style="margin-left: 10px"> Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>