<mat-card>
    <mat-action-list>
        <button mat-list-item>
            Menu
        </button>
        <button mat-list-item routerLink="/userprofile">
            <mat-icon mat-list-icon>account_circle</mat-icon>User
        </button>
        <button mat-list-item routerLink="/home">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item routerLink="/userprofile">
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile
        </button>
    </mat-action-list>
</mat-card>